<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            margin: 0;
            color: black;
           
        }
        .content-container {
            text-align: center;
        }

        ul {
            list-style-type: none;
        }
    </style>

    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <h2 style="text-align: center;">Login</h2>
        <form action="/login" method="post">

            <ul style="text-align: center;">
                
                <li style="margin-bottom: 10px;">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </li>
               
                <li>
                    <label for="password" >Password:</label>
                    <input type="password" id="password" name="password" required>
                </li>
               

            </ul>
          

            <button type="submit" style="display: block; margin: 10px 5px 0px 140px;">Login</button>
        </form>
    </div>
</body>
</html>
